footer{
    background-color: $footerColor;
}

.logoFooter{
    display: flex;
    justify-content: center;
    .logo{
        width: 70px;
        height: auto;
        padding: 10px;
        margin: 10px;
    }
} 

.redes{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
        .col-2{
            display: flex;
            justify-content: center;
            max-width: 100px;
        }
        .logoRedes{
            width: 40px;
            height: auto;
            padding: 5px;
        }
}

.bottomFooter{
    display: flex;
    justify-content: center;
    color: $secondaryColor;
    font-size: 14px;
    text-align: center;
}




