header{
    background-color: $navbarColor;
    max-height: 8vh;
    nav{
        div{
            a{
                img{
                    width: 100%;
                    height: 100%;
                    margin-left: 20px;
                    margin-top: 5px;
                }
            }
        }
    }
}

.nav-link{
    font-size: 18px;
    color:  $tertiaryColor;;
    transition: all 1s;
    text-align: right;
    &:hover{
    color:  $secondaryColor;
    }
}

.logo{
    width: 40px;
    height: auto;
    padding: 8px 1px 1px 8px;
    transition: width 1s, height 1s;
    &:hover{
        width: 50px;
        height: auto; 
    }  
}

#registro{
    font-size: 18px;
    color:  $navbarColor;
    border: 1px solid;
    border-radius: 25px;
    background-color: $primaryColor;
    transition: all 1s;
    text-align: right;
    padding: 7px 15px 7px 15px;
    margin-left: 12px;
    &:hover{
    color:  $animationColor;
    }
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {

    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-toggler{
    border-color: $primaryColor;
    z-index: 1;
    color: $primaryColor
}

.navbar-light .navbar-toggler-icon{
    color: $primaryColor;
}

ul{
    background-color: rgba(0, 0, 0, 0.75)
}

