@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
header {
  background-color: #000000;
}
header nav div a img {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 5px;
}

.nav-link {
  font-size: 18px;
  color: #aaaaaa;
  transition: all 1s;
  text-align: right;
}
.nav-link:hover {
  color: #24e7e4;
}

.logo {
  width: 40px;
  height: auto;
  padding: 8px 1px 1px 8px;
  transition: width 1s, height 1s;
}
.logo:hover {
  width: 50px;
  height: auto;
}

#registro {
  font-size: 18px;
  color: #000000;
  border: 1px solid;
  border-radius: 25px;
  background-color: #d81dde;
  transition: all 1s;
  text-align: right;
  padding: 7px 15px 7px 15px;
  margin-left: 12px;
}
#registro:hover {
  color: #ffffff;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-toggler {
  border-color: #d81dde;
  z-index: 1;
  color: #d81dde;
}

.navbar-light .navbar-toggler-icon {
  z-index: 1;
  color: #d81dde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main {
  background: linear-gradient(-45deg, #111111, #000000);
  height: 90vh;
}

.titulo {
  margin-left: 50px;
  margin-top: 50px;
}

.tituloPagina {
  font-family: Ubuntu, sans-serif;
  font-weight: bolder;
  font-size: 12rem;
  text-align: left;
  top: 15%;
  left: 20%;
  position: relative;
  transform: translate(-15%, -15%);
  color: #d81dde;
  text-shadow: #24e7e4 5px 5px;
}
.tituloPagina:hover {
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes titulo {
  0% {
    color: #d81dde;
  }
  25% {
    color: #ffffff;
  }
  50% {
    color: #d81dde;
  }
  75% {
    color: #ffffff;
  }
  100% {
    color: #d81dde;
  }
}

@keyframes titulo {
  0% {
    color: #d81dde;
  }
  25% {
    color: #ffffff;
  }
  50% {
    color: #d81dde;
  }
  75% {
    color: #ffffff;
  }
  100% {
    color: #d81dde;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  height: 100%;
  background-image: url(../resources/Sitio_FV.520.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.accesoCursos {
  position: relative;
  top: 10%;
  left: 8%;
}

.botonCursos {
  width: 250px;
  border: 1px solid #d81dde;
  border-radius: 50px;
  text-decoration: none;
  font-size: 2rem;
  color: #d81dde;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.botonCursos:hover {
  color: #24e7e4;
  border: 1px solid #24e7e4;
}/*# sourceMappingURL=styles.css.map */